html, body {
    font-family: 'Danton', 'Diaria Pro', 'Erato', 'Iowan Old Style', Georgia, serif;
    font-size: 10px;
    transition: all 250ms ease;
}

html {
    height: 100%;
}

body {
    background: #FFF;
}

h2, ._serif h2, h2._serif {
    font-family: 'Hoefler Text', 'Danton', 'Diaria Pro', 'Erato', 'Iowan Old Style', Georgia, serif;
    font-weight: 600;
}

._C-pointer {
    cursor: pointer;
}

._sans {
    font-family: 'Seravek', 'Myriad Pro', 'Open Sans', -apple-system, 'SF UI Text', 'SF NS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

._serif {
    font-family: 'Danton', 'Diaria Pro', 'Erato', 'Iowan Old Style', Georgia, serif;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

a.hover--magic-underlined, .hover--magic-underlined {
    color: inherit;
}

a.magic-underlined.hover--magic-underlined, .magic-underlined.hover--magic-underlined {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

a.hover--magic-underlined:hover, .hover--magic-underlined:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.header {
    min-height: 100px;
    padding-top: 5rem;
    padding-bottom: 2.5rem;
}

.h1 {
    color: rgba(255, 255, 255, 0);
    background: url(/img/randomfont-logo-primary.png) left scroll no-repeat;
    background-position: left center;
    background-size: 209px;
    background-origin: content-box;
    display: block;
    margin: 0;
}

.row[data-role="font-sample-image-container"] {
    margin-bottom: 3rem;
}

.fontSampleImage-container {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    position: relative;
    height: 30rem;
}

@media screen and (max-width: 768px) {
    .fontSampleImage-container {
        height: 20rem;
    }
}

img#js-FontSampleImage {
    top: 54%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    display: block;
    width: auto;
    max-width: 74%;
    max-height: 33%;
    position: absolute;
}

.row[data-role="font-metadata"] {
    font-size: 2rem;
}

.font-metadata-container {
    padding: 0 0 4rem;
}

.font-metadata-caption {
    font-size: 1.2rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 2px;
    padding: 0 0 3px;
}

.font-metadata-value {
    font-size: 2rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    line-height: 1.5em;
}

.font-metadata-value a {
    color: rgba(255, 255, 255, 1);
}

/* ---------------------------------------- */

.row[data-role="website-footer"] {
    font-size: 1.2rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    padding: 5rem 0 3rem;
}

/* ---------------------------------------- */

.row #js-expand {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

.row:hover #js-expand {
}

/* ---------------------------------------- */

#js-expand {
    font-size: 1.2rem;
    cursor: pointer;
}

#js-additional {
    color: #FFF;
    background: rgba(0, 0, 0, 0.25);
    padding: 30px;
}

body #js-additional h2 {
    font-size: 3.5rem;
    margin: 0.5em 0;
}

body #js-additional p {
    font-size: 2rem;
    font-weight: 300;
    margin: 1em 0;
}

/**/

span.hide-when-parent-hover {
    display: inline;
}

*:hover > span.hide-when-parent-hover {
    display: none;
}

span.show-when-parent-hover {
    display: none;
}

*:hover > span.show-when-parent-hover {
    display: inline;
}
